.title {    
    font-family: "Ginchiest"; 
    font-size: 50px;
    text-align: center; 
}

button {
    font-size: 30px;
    padding: 10px 30px;
    margin: 10px;
}

.cont {
    font-size: 30px;
    font-weight: bold;
}

fa-icon {
    color: black;
}

@keyframes fa-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}
.fa-blink {
  -webkit-animation: fa-blink .75s linear infinite;
  -moz-animation: fa-blink .75s linear infinite;
  -ms-animation: fa-blink .75s linear infinite;
  -o-animation: fa-blink .75s linear infinite;
  animation: fa-blink .75s linear infinite;
}

.resultado {
    font-weight: bold;
}

.customMaior {
    color: green;   
    font-style: italic;
}

.customMenor {
    color: red;    
    font-style: italic;
}





